# Ignore Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/

# IntelliJ IDEA / PyCharm
.idea
*.iml

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Ignore buildozer files
.buildozer/
# Ignore vscode files
.vscode/
# Ignore virtual environment files
.venv/
# Ignore environment files
.env/
# Ignore local environment files
.env.local/

# Ignore this json file
json_files/00_elo_ratings_champions_data.json
