# Ignore Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/

# IntelliJ IDEA / PyCharm
.idea
*.iml
misc.xml

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
